.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7vh;
    background: #e55f25;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
#page-root {
    font-family: 'Lato' !important;
}


.slidev-layout .social ul {
    list-style: none !important;
  }